  .sizeMap {
    height: 60vh;
    width: 60vh;
  }
  
  .marginTop{
    margin-top:20px ;
  }
  .marginRight{
    margin-right:20px ;
  }
  .textarea{
    width: 83%;
    
  }
  .background-color-button{
    background-color: green !important;
    color: white !important;
    height: 100%;
  }
