<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 order-xl-fist order-sm-last marginTop">
      <div>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>X: {{lng}}, Y: {{lat}}</mat-card-title>
            <mat-card-subtitle>Location: {{location}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
                <mat-form-field class="textarea marginRight">
                  <textarea #comment matInput type="text" [(ngModel)]="value"></textarea>
                </mat-form-field>
                <button class="background-color-button" mat-raised-button (click)="setComment(comment.value)">Set check point</button>
          </mat-card-content>
          <mat-card-actions>
              <mat-grid-list cols="5" rowHeight="100px"
              class="marginTop"
              *ngFor="let marker of arrayInfoAboutMarkers">
                  <mat-grid-tile
                      *ngFor="let markerInfo of marker"
                      [colspan]="markerInfo.cols"
                      [rowspan]="markerInfo.rows"
                      [style.background]="markerInfo.color">
                    {{markerInfo.text}}
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <button  class="background-color-button" mat-raised-button (click)="checkIn(marker[0].index)">check place</button>
                  </mat-grid-tile>
                </mat-grid-list>
          </mat-card-actions>
        </mat-card>
      </div>


    </div>
    <div class="col-xl-7 order-xl-last  order-sm-first align-self-end marginTop">
      <div id="gmap" class="sizeMap marginRight"></div>
    </div>
  </div>
</div>